<section>
	<%= form_tag do %>
		<%= text_field_tag :email, '', class: 'form-control', placeholder: 'Email' %>
		<%= password_field :password, '', class: 'form-control', placeholder: 'Password' %>
		<%= submit_tag 'Login', class: 'btn btn-primary' %>
	<% end %>
</section>